@use '../../../assets/styles/variables' as v;

.task-main {
  width: 20vw;
  min-height: v.$taskMinHeight;
  border: 1px solid v.$borderColor;
  border-radius: v.$borderRadius;
  background: v.$taskBackgroundColor;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.task-body {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  padding: 0.5rem;

  .task-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: v.$taskTitleColor;

    span {
      font-size: 1.5rem;
      font-style: italic;
    }
  }

  .task-status {
    display: flex;
    column-gap: 1rem;
    font-size: medium;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .task-command {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
    }

    .user-list {
      display: flex;
      flex-direction: row;
      column-gap: 0;
      margin-right: -0.25rem;
      justify-content: flex-end;


      .overlap:not(:last-child) {
        margin-right: -0.5rem;
      }
    }
  }
}

.color-status {
  min-height: v.$taskMinHeight;
  width: 1rem;
}

.skeleton-item {
  padding-right: 1rem;
}

.new-task-main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  .new-task-row {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }

}

.select-item-icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.select-users {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.new-task-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}